:root {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 2;
    text-rendering: optimizeLegibility;
    background-color: rgb(255, 255, 255);
    color: lightblue;
    
}

.glucose-logger {

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
    
// Pages

    &__chart-container {


    }

// Components

        &__navbar {
       
              &__button {

                border-radius: 10px;
                height: 30px;
                width: 110px;
                background-color: white;
                color: rgb(140, 140, 140);
                border-color: rgb(140, 140, 140);
        
            }
        
        }

        &__entry {

            &__form {

            }

        }

        &__entries {

            &__sorter {

            }

            &__table {

               tr, thead, tbody {
                border: 2px solid #004aee;
                color: #004bee99;
                height: 50%;
                width: 80%;
               }

               

                &__row {

                    td {
                        border: 2px solid #004aee;
                    }
                }

            }

        }



}